body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botones-container {
    display: flex;
    justify-content: center;
}

.button-ejercicio1 {
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-ejercicio1:hover {
    background-color: mediumpurple; /* Otro tono de morado al pasar el mouse */
}

/* Estilos para el botón de Ejercicio 2 */
.button-ejercicio2 {
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: limegreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-ejercicio2:hover {
    background-color: lightgreen; /* Otro tono de verde al pasar el mouse */
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}